#top {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  color: #2a2d7c;
}

#text span {
  color: #c9523d;
  /* font-weight: bold; */
}

#nav {
  margin-bottom: 20px;
}

nav li {
  display: inline;
  margin: 30px;
  font-size: 18px;
  padding-bottom: 50px;
}

#countdown {
	font-size: 80px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	background-color: black;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

#title h2 {
	margin-top: 20px;
	margin-bottom: 20px;
  text-align: center;
	font-size: 30px;
  font-weight: 540;
}

#title h3 {
	margin-top: 20px;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

main p {
  margin: 0 auto;
  line-height: 20px;
	width: 90%;
  font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 20px;
}

#bottom {
  margin: 0 auto;
	display: flex;
	flex-direction: column-reverse;
	background-color: #c6d2da;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
  margin-top: 40px;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 10px;
}

#bottom>div {
	margin: 20px;
}

#bottom h3 {
	font-weight: bold;
	margin-bottom: 15px;
}

#bottom ul {
	list-style: none;
	padding: ;
}



/* styles */

/* size of margin, border and padding is included in size of element 
   in internal CSS calculations */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}


img {
  width: 100%;
}

p.meme {
  color: #f1f1f1; /* color given as RGB */
  font-size: 22px;
  margin: 10px;
  position: absolute; /* this places the element within its parent */
  left: 0; /* coord within parent */
  bottom: 0; /* coord within parent */
}

div.imageWrapper {
  width: 100%;
  max-width: 400px;

  position: relative; /* this has no effect */
  /* except that the parent of a positioned element has to be positioned.  */
  /* hey, I did not devise this crazy system, that is just how it is.  */
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

div.glitchButton {
  width: 80px;
}

p.msg {
  margin: 15px;
}
